.nav-wrapper {
    background-color:#1c75bf;
}

.navbar-top .navbar-nav > li > a,
.navbar-top .navbar-nav > .open > a {
    color: #ffffff;
}

.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
    color: #d4d4d4;
}

.navbar-top .navbar-header .navbar-brand {
    color: #ffffff;
}

.img_logo {
    width:  160px;
    min-height:  160px;
    border:  1px solid #EEE;
    background:  rgba(204,  204,  204,  0.16);
}

img.img-bordered  {
    padding:  3px;
    border:  1px solid #EEE;
}
.thumbnail-style  {
    padding:  7px;
    margin-bottom:  20px;
}
.customisation_mode  {
    border:  1px dotted #56ff20;
    position:  relative;
    overflow:  hidden;
}
.customisation_mode:hover  {
    border: 1px dotted rgba(0,  0,  0,  0.2);
    background-color:  white;
    z-index: 7600;
}
.customisation_mode .action_buttons  {
    display: none;
    position: absolute;
    margin: 5px;
    z-index:  7601;
}
.customisation_mode:hover div.action_buttons  {
    display: block;
    z-index:  7601;
}
.overDiv:hover  {
    background-color:  transparent;
}
.overDiv  {
    top:  0;
    width:  100%;
    height:  100%;
    position:  absolute;
    z-index:  7500;
    cursor:  pointer;
}
.simple_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 7000;
    width: 100%;
    height: 100%;
}
#setup_overlay  {
    width:  100%;
    position:  absolute;
    z-index:  6000;
    background-color:  rgba(0,  0,  0,  0.1);
    height:  100%;
    top:  0px;
}




.panel.panel-default {
    border-top-width: 3px;
}

.panel .panel-heading {
    /*border-bottom: 0;*/
    font-size: 14px;
}

.form-group .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}
/* ========================================================================
   Component: layout.less
 ========================================================================== */

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
.wrapper:after {
    clear: both;
}
.wrapper > .aside {
    position: absolute;
    margin-top: 110px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 10;
}
.wrapper > section {
    position: relative;
    background-color: #e8eef2;
    min-height: calc(100% - 114px);
    z-index: 11;
    margin-left: 0;
}

.content-wrapper {
    padding-bottom: 30px;
    overflow: auto;
    padding: 15px;
}
.content-wrapper > h3 {
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: normal;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}
.content-wrapper > h3 > small {
    display: block;
    font-size: 12px;
    color: #909FA7;
}
.content-wrapper > button,
.content-wrapper > .btn {
    margin: 10px 10px 0 0;
}
@media only screen and (min-width: 768px) {
    .content-wrapper {
        padding: 20px;
    }
    .content-wrapper > h3 {
        margin: -20px;
        margin-bottom: 20px;
        padding: 20px;

    }
    .content-wrapper > button,
    .content-wrapper > .btn {
        margin: 0;
    }
}
@media only screen and (min-width: 768px) {
    .wrapper > .aside {
        position: fixed;
        z-index: 501;
        margin-top: 50px;
    }
    .wrapper > section {
        margin-left: 250px;
        padding-top: 50px;
        min-height: 100%;
    }
    .wrapper > section.has-sidebar-right {
        margin-right: 250px;
    }
    .wrapper > section.has-sidebar-right + .offsidebar {
        z-index: 1;
    }
}
.aside-toggled {
    overflow-y: hidden;
    height: 100%;
}
.aside-toggled .wrapper > section {
    margin-left: 250px;
}
.csstransforms3d .wrapper > section {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
}
.csstransforms3d .aside-toggled .wrapper > section {
    margin-left: 0;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    transition: transform 0.3s ease;
}

@media only screen and (min-width: 768px) {
    .aside-collapsed {
        overflow-y: auto;
    }
    .aside-collapsed .wrapper > .aside {
        width: 70px;
    }
    .aside-collapsed .wrapper > section {
        margin-left: 70px;
    }
    .csstransforms3d .aside-collapsed .wrapper > section {
        -webkit-transform: none;
        -moz-transform: none;
        -opera-transform: none;
        -ms-transform: none;
        transform: none;
        margin-left: 70px;
    }
}

/* ========================================================================
   Component: sidebar.less
 ========================================================================== */
.sidebar {
    background-color: #fff;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #cccccc;
    -webkit-overflow-scrolling: touch;
}
.sidebar > .nav {
    position: relative;
}
.sidebar > .nav > .nav-heading:first-child {
    padding-top: 20px;
}
.sidebar .nav-heading {
    padding: 12px 30px;
    color: #54738A;
    font-size: 13px;
    letter-spacing: .035em;
    text-indent: -10px;
    pointer-events: none;
}
.sidebar .nav-labels {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar .nav-labels > .nav-labels-item {
    padding: 5px 25px;
    font-size: 13px;
}
.sidebar .nav-labels > .nav-labels-item > a {
    color: #638399;
}
.sidebar .nav-labels > .nav-labels-item .circle {
    margin-right: 20px;
    margin-left: 0;
}
.sidebar .nav > li {
    border-left: 2px solid transparent;
}
.sidebar .nav > li > a,
.sidebar .nav > li > .nav-item {
    padding: 14px 25px;
    color: #638399;
    letter-spacing: .025em;
    font-weight: 600;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.sidebar .nav > li > a:focus,
.sidebar .nav > li > .nav-item:focus {
    color: #31414c;
}
.sidebar .nav > li > a > em,
.sidebar .nav > li > .nav-item > em {
    width: 2em;
    color: inherit;
}
.sidebar .nav > li.active,
.sidebar .nav > li:hover,
.sidebar .nav > li.active > a,
.sidebar .nav > li:hover > a,
.sidebar .nav > li.active > a > .item-text,
.sidebar .nav > li:hover > a > .item-text,
.sidebar .nav > li.active .nav,
.sidebar .nav > li:hover .nav {
    background-color: #fafafa;
    color: #31414c;
}
.sidebar .nav > li.active > a > em,
.sidebar .nav > li:hover > a > em {
    color: #1c75bf;
}
.sidebar .nav > li.active {
    border-left-color: #1c75bf;
}
.sidebar .nav .nav {
    padding-left: 45px;
    background-color: #fff;
}
.sidebar .nav .nav > li {
    border-left: 0;
}
.sidebar .nav .nav > li > a,
.sidebar .nav .nav > li > .nav-item {
    display: block;
    position: relative;
    padding: 5px 10px 10px 1px;
    background-color: transparent !important;
    font-weight: normal;
}
.sidebar .nav .nav > li > a:focus,
.sidebar .nav .nav > li > .nav-item:focus,
.sidebar .nav .nav > li > a:hover,
.sidebar .nav .nav > li > .nav-item:hover {
    color: #31414c;
}
.sidebar .nav .nav > li.active > a,
.sidebar .nav .nav > li.active > .nav-item {
    color: #1c75bf;
}
.sidebar .nav .nav > li.active > a:after,
.sidebar .nav .nav > li.active > .nav-item:after {
    border-color: #1c75bf;
    background-color: #1c75bf;
}
@media only screen and (min-width: 768px) {
    .aside-collapsed .sidebar {
        overflow: visible !important;
    }
    .aside-collapsed .sidebar > .nav > .nav-heading {
        display: none !important;
    }
    .aside-collapsed .sidebar > .nav > li > a > em {
        font-size: 1.6em;
        width: auto;
    }
    .aside-collapsed .sidebar > .nav > li > a,
    .aside-collapsed .sidebar > .nav > li > .nav-item {
        padding: 20px 0;
        text-align: center;
    }
    .aside-collapsed .sidebar > .nav > li > a .item-text,
    .aside-collapsed .sidebar > .nav > li > .nav-item .item-text {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: 1px;
        margin-top: 1px;
        padding-left: 20px;
        font-weight: bold;
        line-height: 40px;
        white-space: nowrap;
        z-index: 2002;
    }
    .aside-collapsed .sidebar > .nav > li > a.no-submenu .item-text,
    .aside-collapsed .sidebar > .nav > li > .nav-item.no-submenu .item-text {
        display: none !important;
    }
    .aside-collapsed .sidebar > .nav > li > a:focus {
        background-color: transparent;
    }
    .aside-collapsed .sidebar > .nav > li > a:focus > em {
        color: inherit;
    }
    .aside-collapsed .sidebar .nav-labels {
        display: none;
    }
    .aside-collapsed .sidebar .nav .nav {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        padding-left: 20px;
        padding-top: 40px;
        min-width: 220px;
        z-index: 2001;
        height: auto !important;
        box-shadow: 0 0 0 #000;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    .aside-collapsed .sidebar .nav > li:hover .nav,
    .aside-collapsed .sidebar .nav > li.open .nav {
        display: block;
    }
    .aside-collapsed .sidebar .nav > li:hover .item-text,
    .aside-collapsed .sidebar .nav > li.open .item-text {
        display: block;
    }
    .aside-collapsed .sidebar .nav .label {
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
/* ========================================================================
   Component: offsidebar.less
 ========================================================================== */
.offsidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    margin-top: 110px;
    border-left: 1px solid #cccccc;
    z-index: -1;
    background-color: #fff;
    color: #dde6e9;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.offsidebar .progress {
    border: 0;
}
.offsidebar .nav > li > a:hover,
.offsidebar .nav > li > a:focus {
    color: #3794e2;
}
.offsidebar-open {
    overflow-y: hidden;
    height: 100%;
}
.offsidebar-open .offsidebar {
    opacity: 1;
    filter: alpha(opacity=100);
    overflow-y: auto;
    z-index: 10;
}
@media only screen and (min-width: 768px) {
    .offsidebar {
        position: fixed;
        margin-top: 55px;
    }
}


/* ========================================================================
   Component: form-elements.less
 ========================================================================== */
/**
 * Custom form elements
 *    - Checkbox
 *    - Radios
 *    - Switch
 *    - Rounded inputs
 */
.c-checkbox,
.c-radio {
    /*! margin-right: 4px; */
}
.c-checkbox *,
.c-radio * {
    cursor: pointer;
}
.c-checkbox input,
.c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.c-checkbox:hover span,
.c-radio:hover span {
    border-color: #1c75bf;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
    margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
    border-radius: 500px;
}
/* override for radio */
.c-radio span {
    border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
/* Checked state */
input[type=checkbox]:checked + span:before,
input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color 0.3s ease-out;
}
input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
    border-color: #1c75bf;
    background-color: #1c75bf;
}
/* override for radio */
input[type=radio]:checked + span {
    background-color: #fff;
}
input[type=radio]:checked + span:before {
    color: #1c75bf;
}
/* Disable state */
input[type=checkbox]:disabled + span,
input[type=radio]:disabled + span {
    border-color: #ddd !important;
    background-color: #ddd !important;
}
/* override for radio */
input[type=radio]:disabled + span {
    background-color: #fff !important;
}
input[type=radio]:disabled + span:before {
    color: #ddd;
}
.form-control-rounded {
    border-radius: 100px;
}
.switch * {
    cursor: pointer;
}
.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.switch span {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    transition: all .5s;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
}
.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border: 1px solid #ddd;
    border-radius: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
}
.switch input:checked + span {
    background-color: #1c75bf;
    border-color: #1c75bf;
    transition: all .5s;
}
.switch input:checked + span:after {
    left: 50%;
    transition: all .2s;
}
.form-control-feedback {
    top: 10px;
}
.input-sm + .form-control-feedback {
    top: 0;
}
label + .form-control + .form-control-feedback {
    top: 38px;
}
.input-md {
    width: 260px;
}

/*Blockquote Hero Styles*/
blockquote.hero {
    border: none;
    padding: 18px;
    font-size: 16px;
    background: #f3f3f3;
    border-left: solid 2px #666;
}

blockquote.hero:hover {
    background: #eee;
    border-left-color: #666;
}