/*Reset Styles
------------------------------------*/
* {
    border-radius: 0;
}
.module a {
    color: rgba(0, 0, 0, 0.82);
}



/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.navbar-top {
    -webkit-backface-visibility: hidden;
    /* fixes chrome jump */
    margin-bottom: 0;
    border-radius: 0;
}
@media only screen and (min-width: 768px) {
    .navbar-top .navbar-header {
        width: 250px;
        text-align: center;
    }
    .navbar-top .navbar-header .navbar-brand {
        width: 100%;
    }
}
.navbar-top {
    position: relative;
}
.navbar-top .navbar-header {
    position: relative;
    /*background-color: #1c75bf;*/
    z-index: 11;
}
.navbar-top .navbar-header .navbar-brand {
    padding: 10px;
    font-size: 24px;
    font-style: inherit;
    color: #000000;
}
.navbar-top .navbar-header .brand-logo {
    display: block;
    padding: 10px 15px;

}


.navbar-top .navbar-nav > li > a,
.navbar-top .navbar-nav > .open > a {
    color: #909090;
}
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
    color: #2a2a2a;
}
.navbar-top .navbar-nav > .active > a,
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .open > a:hover,
.navbar-top .navbar-nav > .active > a:focus,
.navbar-top .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid  #1c75bf;
}

.nav-tabs > li > a,
.nav-tabs > li> a:hover,
.nav-tabs > li> a:focus
{
    font-weight: bold;
    color: #515253;
    /*margin: 1px;*/
    border-top: 1px solid #dde6e9;
    border-left: 1px solid #dde6e9;
    border-right: 1px solid #dde6e9;
    border-bottom: 1px solid  #1c75bf;
    /*border-radius: 0;*/
    /*padding: 10px 20px;*/
}

.nav-tabs > li > a{
    background-color: #edf1f2;
}



.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: inherit;
    border-top: 1px solid #1c75bf;
    border-left: 1px solid #1c75bf;
    border-right: 1px solid #1c75bf;
    border-bottom-color: #fff;
}


.nav-wrapper {
    padding: 0 15px;
    /*background-color:#bbb;*/
            /*#1c75bf;*/
}

.nav-wrapper .nav.navbar-nav {
    float: left;
}
.nav-wrapper .nav.navbar-nav.navbar-right {
    float: right;
}
.nav-wrapper .nav > li {
    position: static;
    float: left;
}
.nav-wrapper .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    left: 0px;
    right: 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.navbar-top .navbar-form {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 55px;
    z-index: 9001;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom: 1px solid #e1e2e3;
}

@media only screen and (min-width: 768px) {
    .navbar-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border: 0;
        /*background-color: #1c75bf;*/
    }
    .navbar-top .navbar-nav > a {
        box-shadow: 0 0 0 #000 inset;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .navbar-top .navbar-nav > .open > a,
    .navbar-top .navbar-nav > .open > a:hover,
    .navbar-top .navbar-nav > .open > a:focus {
        box-shadow: 0 -3px 0 #f0f0f0 inset;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    .navbar-top .navbar-nav > li > a,
    .navbar-top .navbar-nav > .open > a {
        color: #5f5f5f;

    }
    .navbar-top .navbar-nav > li > a:hover,
    .navbar-top .navbar-nav > .open > a:hover,
    .navbar-top .navbar-nav > li > a:focus,
    .navbar-top .navbar-nav > .open > a:focus {
        color: #000;
    }

    .nav-wrapper {
        position: relative;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
        z-index: 10;
    }
    .nav-wrapper:before,
    .nav-wrapper:after {
        content: " ";
        display: table;
    }
    .nav-wrapper:after {
        clear: both;
    }
    .nav-wrapper .navbar-nav .open .dropdown-menu {
        left: auto;
        right: auto;
        max-width: 300px;
    }
    .nav-wrapper .navbar-nav.navbar-right .open .dropdown-menu {
        left: auto;
        right: 0;
    }
}
@media only screen and (min-width: 768px) {

    .aside-collapsed .navbar-top .navbar-form {
        left: 70px;
    }
}


.main-block{

}

.side-block{

}



.btn-u, .fc-button {
    border-radius: 3px;
    font-size: 13px;
    border-color: transparent;
    -webkit-appearance: none;
    outline: none !important;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.boxed-layout {
    padding: 0;
    box-shadow: 0 0 5px #ccc;
    margin-left: auto !important;
    margin-right: auto !important;
    background: url(../images/bg.png) repeat;
}

.content-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}


/*Headings*/
h1 {
    font-size: 28px;
    line-height: 35px;
}
h2 {
    font-size: 24px;
    line-height: 33px;
}
h3 {
    font-size: 20px;
    line-height: 27px;
}
h4 {
    line-height: 25px;
}
h5 {
    line-height: 20px;
}
h6 {
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    margin-top: 5px;
    text-shadow: none;
    font-weight: normal;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right: 5px;
}

.module{
    padding: 5px;
}

.module .module-body{
    /*overflow: hidden;*/
    border: solid 1px #eee;
    background: #fff;
    padding: 10px;

}


.side-block .module.module-img .module-body{
    padding: 0;
    border-top: solid 1px #eee;
}

.module-stats .staff-list{
    display: inline-block;
    margin: 3px;
}

.module-forum-status .module-body{
    overflow: hidden;
}

.module-search .input-group-btn a {
    color: white;
    font-weight: bold;
}

.module-user-avatar .module-body img {
    width: 100%;
}

.module-top-users .module-body{
    /*background-color: transparent;*/
    /*overflow: hidden;*/
}

.module-powered-by{
    border-radius: 0 0 4px 4px !important;
    background-color: #555;
    padding: 0;
}


.side-block .module .module-body{
    border-top: solid 2px  #1c75bf;
}


/* Add here all your css styles (customizations) */
.popover{
    max-width:350px;
    min-width: 250px;
}

img.avatar  {
    width: 46px;
    height: 46px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

img.avatar2x  {
    width: 55px;
    height: 55px;
    margin: 5px;
}

/*Rounded and Circle Classes
------------------------------------*/
.no-rounded { border-radius: 0 !important;}
.rounded { border-radius: 4px !important;}
.rounded-x { border-radius: 50% !important;}
.rounded-2x { border-radius: 10px !important;}
.rounded-bottom { border-radius: 0 0 4px 4px !important;}

.level0 {
    padding-left: 0;
}
.level1 {
    padding-left: 20px;
}
.level2 {
    padding-left: 40px;
}
.level3 {
    padding-left: 60px;
}
.level4 {
    padding-left: 80px;
}
.level5 {
    padding-left: 100px;
}
.level6 {
    padding-left: 120px;
}
.level7 {
    padding-left: 140px;
}
.level8 {
    padding-left: 160px;
}


/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {
    /* reset previous grid */
    .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for small columns */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
    /* reset previous grid */
    .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for medium columns */
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 1200px) {
    /* reset previous grid */
    .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
    .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
    .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
    .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
    .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

    /* clear first in row for large columns */
    .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
    .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
    .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
    .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
    .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
}


i.icon-sm {
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    border-color: transparent;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}

/*Button Styles
------------------------------------*/
.btn {
    box-shadow: none;
    /*border-radius: 0;*/
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background:  #1c75bf;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-u-split.dropdown-toggle {
    border-left: solid 1px #5fb611;
}


.content .testimonials-info {
    padding: 10px;
    border: 1px dashed #eee;
    border-right: 0;
    border-left: 0;
    margin-right: -11px;
    margin-left: -11px;
}

.content .comment-info {
    padding: 5px;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}


/*Content Boxes v2*/
.content span {
    display: inline;
    overflow: hidden;
}

.content .title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #262626;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

}

/*Content Boxes v2*/
.content .topic-avatar {
    float: left;
    margin-right: 5px;
}
.content .commenttext{
    overflow: hidden;
    min-height: 10px;
}



/*Icon Styles For Links*/
.content .link-icon,
.content .link-bg-icon {
    color: #555;
}

.content .link-icon:hover,
.content .link-bg-icon:hover {
    border: none;
    text-decoration: none;
}

.content i.icon-sm {
    color: #cccccc;
    margin: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
}
.content .link-icon:hover i {
    color: #000000;

}

.content .comment-action-bar{
    overflow: hidden;
    margin-bottom: 5px;
}

.content .comment-action-bar ul{
    margin: 0;
}

.content .link-bg-icon:hover i {
    color: #000000;
    background:  #1c75bf;
    border-color:  #1c75bf;
}

.content small {
    /*display: block;*/
    line-height: 1.6;
    color: #999;
}

.content  .overflow-h { overflow: hidden;}
.content .topic-votes {
    padding-left: 3px;
}

.module-list-articles .module-body {
    background: transparent;
}
.module-list-articles .top-side{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 10px;
    background: #fff;

}

.module-forum-status h2{
    margin: 0;
    font-weight: bold;
}
.module-list-articles .bottom-side{
    margin-left: -10px;
    margin-right: -10px;
    padding :10px;
    background: #fff;

}

.module-list-articles .topic-side{
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
}

.module-list-articles  .full  .topic-side{
    margin-bottom: 10px;
}

.module-list-articles .content .testimonials-info:hover {
    border-right: 4px solid ;
    border-left: 4px solid;
    border-color:  #1c75bf;
    margin-left: -15px;
    margin-right: -15px;
 }

.module-replies-item .content .testimonials-info:hover {
    background: #f9f9f9;
}



@media (max-width: 992px) {
    .content,
    .content .text-justify {
        /*text-align: center;*/
    }

    .content span {
        display: block;
        margin-top: 5px;
    }
}


ul.blog-tags a {
    font-size: 11px;
    padding: 2px 7px;
    background: #d4d4d4;
    margin: 0 3px 6px 0;
    display: inline-block;
    border-radius: 0.25em;
}

ul.blog-tags a i {
    color: #666;
}

ul.blog-tags a:hover {
    background:  #1c75bf;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
    color: #fff !important;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}




/*Sidebar List Toggle*/
.list-toggle:after {
    top: 7px;
    right: 10px;
    color: #777;
    font-size: 14px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

.list-toggle.active:after {
    color: #fff;
    content: "\f107";
}

.module-controle-panel .list-group-item{
    padding: 0;
    border: 0;
}
.module-controle-panel li a {
    display: block;
    padding: 8px 30px 8px 10px;
}


/*Tabs v1
------------------------------------*/
.tab-v1 .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px  #1c75bf;
}

.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
    color: #fff;
    border: none;
    background:  #1c75bf;
}

.tab-v1 .nav-tabs > li > a {
    border: none;
}
.tab-v1 .nav-tabs > li > a:hover {
    color: #fff;
    background:  #1c75bf;
}

.tab-v1 .tab-content {
    padding: 10px 0;
}

.tab-v1 .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px;
}

.tab-v1 .tab-content img.img-tab-space {
    margin-top: 7px;
}

/* ========================================================================
   Component: row-extra.less
 ========================================================================== */
.row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}
.row-table > [class*="col-"] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
}
.row-flush > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}


body.popup {
    background-color: transparent;
}
body.popup .close {
    z-index:10005;
    margin-right: 25px;
    font-weight: bold;
    /*border: 1px solid #bbb;*/
}


.popup .module {
    padding-top: 0;
    padding-bottom: 0;
}

.popup .module-description .module-body{
    border: none;
}

body.popup .container {
    max-width: 640px;
    min-height: 320px;
    background: #ffffff;
    border: 5px solid #bbb;
    border: 5px solid #dddddd;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: 0 10px 20px  #bbb;
    -moz-box-shadow: 0 10px 20px  #bbb;
    box-shadow: 0 10px 20px  #bbb;

    margin: auto;
    margin-top:50px;
    padding: 0px;
    overflow:hidden;

    position: relative;
}